{% extends "Base.html" %}
{%load static%}

{%block header%}     


<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">REGIONAL SUR </h1>
                    <p class="lead fw-normal text-white-50 mb-4"></p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://2.bp.blogspot.com/-SYGeCtU6jTA/VGJQTlz1v1I/AAAAAAAAF_8/zV-iomb9vlQ/s1600/Logo_Stefanini.png" alt="..." /></div>
        </div>
    </div>
</header>


{%endblock%}

{%block cambia%}

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">OKR REGIONALES</h2>
                    <p class="lead fw-normal text-muted mb-5"> PERIODO 2024</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.bHCEkbY_i2coYhNpi8cqSgHaDy?rs=1&pid=ImgDetMain" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Servicios Digitales</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Presencialidad</h5></a>
                        <p class="card-text mb-0"> Lograr un 90% de asistencia en cabeceras </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://th.bing.com/th/id/R.2fe3cbc3d60bd2ce84ac221cba9ae52a?rik=b3BxCQptYdzQEg&pid=ImgRaw&r=0" alt="..." style="width: 40px; height: 40px;" />
                                <div class="small">
                                    <div class="fw-bold">Joaquin Calastretti</div>
                                    <div class="text-muted">Agosto &middot; 5 PTS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.bHCEkbY_i2coYhNpi8cqSgHaDy?rs=1&pid=ImgDetMain" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Comunicaciones   </div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Tareas en altura</h5></a>
                        <p class="card-text mb-0">Alinear enlace </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://th.bing.com/th/id/R.2fe3cbc3d60bd2ce84ac221cba9ae52a?rik=b3BxCQptYdzQEg&pid=ImgRaw&r=0" alt="..." style="width: 40px; height: 40px;" />
                                <div class="small">
                                    <div class="fw-bold">Mathias Aybar</div>
                                    <div class="text-muted">Agosto &middot; 15PTS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.bHCEkbY_i2coYhNpi8cqSgHaDy?rs=1&pid=ImgDetMain" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Gestion De Activos</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Relevamientos</h5></a>
                        <p class="card-text mb-0">Relevar deposito km3</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://th.bing.com/th/id/R.2fe3cbc3d60bd2ce84ac221cba9ae52a?rik=b3BxCQptYdzQEg&pid=ImgRaw&r=0" alt="..." style="width: 40px; height: 40px;" />
                                <div class="small">
                                    <div class="fw-bold">Cesar Bayon </div>
                                    <div class="text-muted">Agosto &middot; 10 PTS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.bHCEkbY_i2coYhNpi8cqSgHaDy?rs=1&pid=ImgDetMain" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                        <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://th.bing.com/th/id/R.2fe3cbc3d60bd2ce84ac221cba9ae52a?rik=b3BxCQptYdzQEg&pid=ImgRaw&r=0" alt="..." style="width: 40px; height: 40px;" />
                                <div class="small">
                                    <div class="fw-bold">Josiah Barclay</div>
                                    <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.bHCEkbY_i2coYhNpi8cqSgHaDy?rs=1&pid=ImgDetMain" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                        <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://th.bing.com/th/id/R.2fe3cbc3d60bd2ce84ac221cba9ae52a?rik=b3BxCQptYdzQEg&pid=ImgRaw&r=0" alt="..." style="width: 40px; height: 40px;" />
                                <div class="small">
                                    <div class="fw-bold">Josiah Barclay</div>
                                    <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.bHCEkbY_i2coYhNpi8cqSgHaDy?rs=1&pid=ImgDetMain" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                        <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://th.bing.com/th/id/R.2fe3cbc3d60bd2ce84ac221cba9ae52a?rik=b3BxCQptYdzQEg&pid=ImgRaw&r=0" alt="..." style="width: 40px; height: 40px;" />
                                <div class="small">
                                    <div class="fw-bold">Josiah Barclay</div>
                                    <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            



{%endblock%}

